sh-sidebar {
  position: fixed;
  top: 31px;
  left: 0;
  width: 221px;
  bottom: 0;
  background-color: #eeeeee;
  border-right: 1px solid #cccccc;
  z-index: 1000;
}

sh-sidebar .create img {
  width: 9px;
  height: 9px;
}

sh-sidebar .create {
  position: relative;
  height: 28px;
  padding: 7px 0px 7px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 119px;
}

sh-sidebar ul.menu {
  position: absolute;
  top: 18px; left: 98px;
  width: 100px;
  border: 1px solid #222222;
  box-shadow: 1px 1px 1px #777777;
  background-color: #eeeeee;
}

sh-sidebar ul.menu {
  list-style-type: none;
  padding: 0;
}

sh-sidebar ul.menu li {
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

sh-sidebar ul.menu li:hover {
  background-color: #ccc;
}

sh-sidebar ul.menu li:active {
  background-color: #bbb;
}




sh-sidebar .create > button {
  display: block;
  float: left;
  height: 28px;
  background: linear-gradient(to bottom, #2f56af 0%,#232682 99%);
  border: none;
  cursor: pointer;
}

sh-sidebar .create > button.left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 99px;
  border-right: 1px solid #009;
  color: white;
  font-weight: bold;
}

sh-sidebar .create > button.right {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 20px;
}

sh-sidebar .create > button:hover {
  background: linear-gradient(to bottom, #2f569f 0%,#232662 99%);
  outline: 0;
}

sh-sidebar .create > button:focus {
  outline: 0;
}

sh-sidebar .create > button:active {
  background: linear-gradient(to bottom, #2f566f 0%,#232652 99%);
}


sh-sidebar .directory {
  position: relative;
}

sh-sidebar .directory img {
  width: 8px;
  height: 8px;
  padding: 2px;
  cursor: pointer;
}

sh-sidebar .directory .name {
  height: 20px;
}

sh-sidebar .directory .name > span {
  position: absolute;
  left: 15px;
  height: 15px;
}

sh-sidebar .name {
  cursor: pointer;
}

sh-sidebar .name.open{
  font-weight: bold;
}

sh-sidebar .name:hover img.down {
  content: url('/img/arrow-down-hover.svg');
}

sh-sidebar .name:active img.down {
  content: url('/img/arrow-down-press.svg');
}

sh-sidebar .name:hover img.right {
  content: url('/img/arrow-right-hover.svg');
}

sh-sidebar .name:active img.right {
  content: url('/img/arrow-right-press.svg');
}

sh-sidebar > h1 {
  position: absolute;
  height: 30px;
  font-size: 30px;
  left: 10px; top: 0px;
}

sh-sidebar-folders {
  height: 250px;
  background-color:red;

}

sh-sidebar-folder {
  display: block;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

/**
 * Assets
 */

sh-files {
  position: fixed;
  top: 31px;
  left: 222px;
  right: 0;
  bottom: 0;
  padding: 20px 0 0 20px;
  display: grid;
  background-color: #eeeeee;
  overflow: auto;
}

sh-file {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 130px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}

sh-file > .name {
  display: block;
  position: absolute;
  bottom: 0; left: 0; right: 0; height: 16px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  padding: 0 10px 0 10px;
  cursor: text;
}

sh-file > .name:focus {
  outline: 0;
}

sh-file > div {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 25px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  background-color: white;
}

sh-file > div:hover {
  box-shadow: 2px 2px 2px #bbbbbb;
}

/**
 * Browser
 */
#browser-search {
  position: relative;
  display: block;
  float: left;
}

#browser-search-settings {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#browser-search-settings:hover {
  opacity: 1.0;
}

#browser-search-input {
  height: 25px;
  width: 295px;
  font-size: 15px;
  padding: 2px 0 2px 3px;
  margin: 0;
  border: 1px solid gray;
}

#browser-search-input:focus {
  outline: 0;
}

#browser-search-panel {
  position: absolute;
  width: 298px;
  min-height: 70px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 1px #ccc;
  background-color: white;
}

#browser-search-panel > .title {
  border-bottom: 1px solid gray;
  padding: 2px;
  cursor: default;
}

#browser-search-panel > span {
  display: block;
  color: black;
  cursor: pointer;
}

#browser-search-panel > span:hover {
  background-color: #ddd;
}


sh-path-asset {
  display: block;
  float: left;
  padding: 7px 2px 7px 2px;
  height: 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

sh-path-asset:hover {
  background-color: #555555;
}

sh-path-asset > img {
  width: 10px;
  height: 10px;
}


/**
 * All images
 */

sh-sidebar-folder > div > img {
  margin-top: 5px;
  margin-left: 5px;
  max-width: 80%;
  max-height: 80%;
}

sh-file > div > img {
  max-width: 100%;
  max-height: 100%;
}