sh-sidebar {
  position: fixed;
  top: 31px;
  left: 0;
  width: 221px;
  bottom: 0;
  background-color: #eeeeee;
  border-right: 1px solid #cccccc;
}

/**
 * Assets
 */

sh-files {
  position: fixed;
  top: 31px;
  left: 222px;
  right: 0;
  bottom: 0;
  padding: 20px 0 0 20px;
  display: grid;
  background-color: #eeeeee;
  overflow: auto;
}

sh-file {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 130px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}

sh-file > h1 {
  display: block;
  position: absolute;
  bottom: 0; left: 0; right: 0; height: 16px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  padding: 0 10px 0 10px;
}

sh-file > div {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 25px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  background-color: white;
}

sh-file > div:hover {
  box-shadow: 2px 2px 2px #bbbbbb;
}

/**
 * All images
 */

img {
  max-width: 100%;
  max-height: 100%;
}

/**
 * Browser
 */

#browse-search {
  height: 25px;
  float: left;
  width: 150px;
}

/**
 * Path to current folder.
 */

sh-path {
  position: fixed;
  top: 0;
  left: 380px;
  right: 0;
  bottom: 30px;
  display: grid;
  overflow: auto;
}

sh-path-asset {
  display: block;
  position: relative;
  float: left;
  width: 100px;
  height: 30px;
  cursor:pointer;
}

sh-path-asset > div {
  position: absolute;
  top: 5px; left: 0; right: 0; bottom: 0;
  width: 30px;
}

sh-path-asset > h1 {
  position: absolute;
  top: 0;  left: 32px;
  height: 30px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}