sh-sidebar {
  position: fixed;
  top: 31px;
  left: 0;
  width: 221px;
  bottom: 0;
  background-color: #eeeeee;
  border-right: 1px solid #cccccc;
  z-index: 1000;
  overflow: visible;
}

/**
 * Clickable creation button
 */

sh-sidebar .create img {
  width: 9px;
  height: 9px;
}

sh-sidebar .create {
  position: relative;
  height: 28px;
  padding: 7px 0px 7px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 119px;
}

sh-sidebar ul.menu {
  position: absolute;
  top: 18px; left: 98px;
  width: 100px;
  border: 1px solid #222222;
  box-shadow: 1px 1px 1px #777777;
  background-color: #eeeeee;
  z-index: 2000;
}

sh-sidebar ul.menu {
  list-style-type: none;
  padding: 0;
}

sh-sidebar ul.menu li {
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

sh-sidebar ul.menu li:hover {
  background-color: #ccc;
}

sh-sidebar ul.menu li:active {
  background-color: #bbb;
}




sh-sidebar .create > button {
  display: block;
  float: left;
  height: 28px;
  background: linear-gradient(to bottom, #2f56af 0%,#232682 99%);
  border: none;
  cursor: pointer;
  z-index: 5000;
}

sh-sidebar .create > button.left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 99px;
  border-right: 1px solid #009;
  color: white;
  font-weight: bold;
}

sh-sidebar .create > button.right {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 20px;
}

sh-sidebar .create > button:hover {
  background: linear-gradient(to bottom, #2f569f 0%,#232662 99%);
  outline: 0;
}

sh-sidebar .create > button:focus {
  outline: 0;
}

sh-sidebar .create > button:active {
  background: linear-gradient(to bottom, #2f566f 0%,#232652 99%);
}

/**
 * Faded creation button
 */

sh-sidebar .space img {
  width: 9px;
  height: 9px;
}

sh-sidebar .space {
  position: relative;
  height: 28px;
  padding: 7px 0px 7px 0px;
  margin-left: auto;
  margin-right: auto;
  width: 119px;
}

sh-sidebar .space > button {
  display: block;
  float: left;
  height: 28px;
  background: linear-gradient(to bottom, #bbbbbb 0%,#bbbbbb 99%);
  border: none;
  z-index: 5000;
}

sh-sidebar .space > button.left {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  width: 99px;
  border-right: 1px solid #a0a0a0;
  color: white;
  font-weight: bold;
}

sh-sidebar .space > button.right {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  width: 20px;
}

/**
 * Dir tree
 */

sh-sidebar .directory {
  position: relative;
  overflow: hidden;
  padding: 7px;
}

sh-sidebar .directory img {
  width: 8px;
  height: 8px;
  padding: 2px;
  cursor: pointer;
}

sh-sidebar .directory .name {
  height: 20px;
}

sh-sidebar .directory .name > span {
  position: absolute;
  left: 23px;
  height: 15px;
}

sh-sidebar .name {
  cursor: pointer;
}

sh-sidebar .name.open{
  font-weight: bold;
}

sh-sidebar .name:hover img.down {
  content: url('/img/arrow-down-hover.svg');
}

sh-sidebar .name:active img.down {
  content: url('/img/arrow-down-press.svg');
}

sh-sidebar .name:hover img.right {
  content: url('/img/arrow-right-hover.svg');
}

sh-sidebar .name:active img.right {
  content: url('/img/arrow-right-press.svg');
}

sh-sidebar-folders {
  height: 250px;
  background-color:red;

}

sh-sidebar-folder {
  display: block;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

/**
 * Assets
 */

.assets-browser {
  position: fixed;
  top: 31px;
  left: 222px;
  right: 0;
  bottom: 0;
}

.assets-public {
  position: fixed;
  top: 31px;
  left: 0px;
  right: 0;
  bottom: 0;
}

sh-assets {
  padding: 20px 0 0 20px;
  display: grid;
  background-color: #eeeeee;
  overflow: auto;
}

sh-asset {
  display: block;
  position: relative;
  float: left;
  width: 150px;
  height: 130px;
  margin: 10px 10px 0px 0px;
  cursor: pointer;
}

sh-asset > div .name {
  display: block;
  position: absolute;
  bottom: 0; left: 0; right: 0; height: 16px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  padding: 0 10px 0 10px;
  cursor: text;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

sh-asset > div .name:focus {
  outline: 0;
}

sh-asset > div .noneditable {
  color: #888888;
  font-style: italic;
}

sh-asset > .image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 25px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  background-color: white;
}

sh-asset > .image:hover {
  box-shadow: 2px 2px 2px #bbbbbb;
}

sh-asset.selected > .image {
  background-color: #3399FF;
  border: 1px solid #0066FF;
  box-shadow: 1px 1px 1px #0066FF;
}

sh-asset.selected > div .name {
  font-weight: bold;
}

/**
 * Context menu
 */

.asset-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: white;
  box-shadow: 2px 2px 4px #aaa;
}

.asset-menu ul {
  list-style-type: none;
  padding: 0;
  margin:  0;
  white-space: nowrap;
}

.asset-menu li {
  padding: 8px 12px;
}

.asset-menu a {
  text-decoration: none;
  color: black;
}

.asset-menu li:hover {
   background-color: #3399FF;
}

/**
 * Browser
 */
#browser-search {
  position: relative;
  display: block;
  float: left;
}

#browser-search-settings {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 100;
  top: 5px;
  right: 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
}

#browser-search-settings:hover {
  opacity: 1.0;
}

#browser-search-input {
  height: 19px;
  width: 295px;
  font-size: 15px;
  padding: 2px 0 2px 3px;
  margin: 3px 0;
  border: 1px solid gray;
}

#browser-search-input:focus {
  outline: 0;
}

#browser-search-panel {
  position: absolute;
  width: 298px;
  min-height: 70px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 1px #ccc;
  background-color: white;
}

#browser-search-panel > .title {
  border-bottom: 1px solid gray;
  padding: 2px;
  cursor: default;
}

#browser-search-panel > span {
  display: block;
  color: black;
  cursor: pointer;
}

#browser-search-panel > span:hover {
  background-color: #ddd;
}


sh-path-asset {
  display: block;
  float: left;
  padding: 7px 2px 7px 2px;
  height: 16px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

sh-path-asset.drag-over {
  background-color: blue;
}

sh-path-asset:hover {
  background-color: #555555;
}

sh-path-asset > img {
  width: 10px;
  height: 10px;
}


/**
 * All images
 */

sh-sidebar-folder > div > img {
  margin-top: 5px;
  margin-left: 5px;
  max-width: 80%;
  max-height: 80%;
}

sh-asset > div > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  max-height: 100%;
}

sh-asset.drag-over .image {
  border: 1px solid #0000cc;
  box-shadow: 2px 4px 4px #5555cc;
}

/**
 * Texture upload
 */

sh-upload {
  border: 4px dashed gray;
  position: absolute;
  top: 10px; left: 10px; right: 10px; bottom: 10px;
  z-index: 5;
}

sh-upload.hover {
  border: 4px dashed gray;
  background-color: lightgray;
}

.upload-choose {
  position: absolute;
  z-index: 10;
  top: 58px;
  font-size: 16px;
  height:50px;
  width:200px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  pointer-events: none
}
.upload-choose input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}
.upload-choose input[type='file'] {
  font-size: 0px;
}

.button-choose {
  z-index: 7000;
  position: absolute;
  color: white;
  font-size: 14px;
  background: linear-gradient(to bottom, #2f56af 0%,#232682 99%);
  top:102px;
  height:30px;
  width:160px;
  margin-left: 170px;
  margin-right: 170px;
  cursor: pointer;
}

.files-list {
  position: absolute;
  top:135px;
  font-size: 12px;
  height:100px;
  width:300px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 30;
  pointer-events: none;
}

/**
 * Texture display
 */

#texture-display {
  max-width: 100%;
  max-height: 100%;
}



