#chatbox {
  display: block;
  position: absolute;
  background-color: #ddd;
  margin: -1px;
  border: 1px solid #aaa;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
}

.messages {
  position: absolute;
  bottom: 52px;
  left: 2px;
  top: 2px;
  right: 2px;
  padding: 10px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.message-entry {
  width: 400px;
  height: 3em;
}

.message-entry #message-entry-box {
  border: 1px solid #aaa;
  width: 392px;
  height: 3em;
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.message-wrapper {
  width: 60%;
  padding-bottom: 15px;
}

.message-name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #a4a4a4;
}

.message-text {
  margin: 0;
  padding: 12.5px;
  width: 100%;
  background-color: rgb(243, 249, 252);
  box-shadow: -1px 2px 3px #dddddd;
}

#editor-user-counter {
  padding: 3px !important;
}

#editor-user-counter:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

#editor-user-counter > span {
  color: white;
  background-color: #0066FF !important;
  border: 1px solid #0033CC;
  height: 18px !important;
  font-weight: bold;
  padding: 2px !important;
  min-width: 20px;
  text-align: center;
  border-radius: 3px;
}

#editor-user-counter > span:hover {
  background-color: #0099FF !important;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#editor-title {
  cursor: text;
  overflow: hidden;
}

#editor-title:focus {
  outline: 0;
}
