html {
  font-family: 'Open Sans', sans-serif;
}

/**
 * Welcome page
 */

.logo #logo_shapy {
  display: block;
  height: 400px;
  margin: 0 auto;
}

.logo h1 {
  text-align: center;
  padding-top: 1em;
}

.logo p {
  text-align: center;
  font-size: 16px;
  width: 1000px;
  margin: 0 auto;
}

/**
 * Page header
 */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 31px;
  background: #1a2c4a;
  z-index: 1000;
}

/* TODO(David): Merge this and toolbar together for cleaner CSS */
#header a, #header span {
  color: #dee1e3;
  padding: 7px;
  height: 16px;
  font-size: 14px;
  display: block;
}

.header-divider {
  float: left;
  width: 15px;
  height: 1px;
}

#header a {
  text-decoration: none;
  cursor: pointer;
}

#header a {
  float: left;
}

#header a:hover {
  color: #fff;
}

#header a.highlight {
  border-bottom: 2px solid #2b303b;
  height: 15px;
}

#header .select {
  background-color: #cc3300;
}

/* Left/right organisation */
#header-left {
  float: left;
}

#header-right {
  float: right;
}

#header-right > span {
  float: left;
}

#header-right > a {
  float: left;
}

#body {
  position: fixed;
  top: 31px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#login {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Toolbar
 */
#toolbar-left {
  float: left;
}

#toolbar-right {
  float: right;
}

sh-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Buttons */
.toolbar-button {
  font-size: 14px;
  position: relative;
  display: block;
  float: left;
  color: #dee1e3;
  cursor: pointer;
  padding: 7px;
  height: 16px;
}

.header-button-selected {
  background-color: #3b404b;
}

.toolbar-button > span {
  padding: 0 !important;
  margin: 0 !important;

  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Drop down menus */
sh-menu ul, sh-menu .content {
  background-color: #3b404b;
  display: block;
  position: absolute;
  list-style-type: none;
  top: 30px;
  left: 0px;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

sh-menu .content {
  min-width: 0 !important;
  cursor: default;
  padding: 7px;
}

sh-menu ul > li {
  display: block;
  padding: 7px;
  margin: 0;
  text-align: left;

  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

sh-menu ul > li:hover {
  background-color: #555555;
}

sh-menu .hint {
  display: block;
  float: right;
  height: 12px;
  font-size: 12px !important;
  padding: 0 !important;
  margin: 1px 10px 1px 0;
  color: gray !important;
}

/**
 * Notifications
 */

sh-notify-bar {
  position: fixed;
  display: block;
  top: 25px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 1000;
}

.notification {
  text-align: center;
}

.notification > span {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  transition: opacity 1s ease-in-out;
  transition: 1;
  font-size: 14px;
  padding: 1px 5px 2px 5px;
  margin-top: 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #222;
  font-weight: bold;
}

.notification > span.fade {
  opacity: 0.2;
}

.notification > span.notice {
  border-color: #045400;
  background-color: #1cb814;
}

.notification > span.warning {
  border-color: #f76300;
  background-color: #f79d00;
}

.notification > span.error {
  border-color: #4a0000;
  background-color: #8c0a0a;
}

.notification a.content {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.notification span.content {
  cursor: pointer;
}

/**
 * Register
 */
 .signup {
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 15px;
  border: 1px solid black;
}

.signup div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup strong {
  display: block;
}

.signup .error {
  display: block;
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup .error > span {
  display: block;
}

.signup .button {
  text-align: center;
}

.signup input[type=password],
.signup input[type=email],
.signup input[type=text] {
  height: 24px;
  font-size: 20px;
}


.signup input[type=text] {
  width: 192px;
}

.signup input[type=password],
.signup input[type=email]
{
  width: 394px;
}

input.ng-invalid.ng-touched {
  border:1px solid #f00;
}



.facebook {
  background: url('/img/fb-normal.png');
  background-size: cover;
  height: 44px;
  width: 236px;
  cursor: pointer;
  border: none;
}

.facebook:hover {
  background: url('/img/fb-hover.png') !important;
  background-size: cover;
}

.facebook:active {
  background: url('/img/fb-press.png') !important;
  background-size: cover;
}

.facebook:focus {
  outline: 0;
}


.google {
  background: url('/img/gp-normal.png');
  background-size: cover;
  height: 54px;
  width: 246px;
  cursor: pointer;
  border: none;
}

.google:hover {
  background: url('/img/gp-hover.png') !important;
  background-size: cover;
}

.google:active {
  background: url('/img/gp-press.png') !important;
  background-size: cover;
  border: none;
}

.google:focus {
  outline: 0;
}

#modal {
  position: fixed;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0; left: 0; right: 0; bottom: 0;
}

#modal > .dialog {
  position: fixed;
  background-color: white;
  border: 1px solid #777;
  box-shadow: 2px 2px 4px #666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
}

#modal > .dialog.small {
  width: 320px;
  height: 140px;
}

#modal > .dialog.medium {
  width: 500px;
  height: 350px;
}

#modal > .dialog.large {
  width: 600px;
  height: 600px;
}

#modal > .dialog > .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 20px;
  font-size: 20px;
  padding: 8px;
  border-bottom: 1px solid #777;
  color: white;
  background: #FFF; /*linear-gradient(to bottom, #0a1e38 0%, #181f5b 100%)*/
}

#modal > .dialog > .content {
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px;
  top: 40px;
  bottom: 32px;
}

#modal > .dialog > .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 32px;
  border-top: 1px solid #777;
}

#modal > .dialog > .footer input[type=button] {
  display: block;
  float: right;
  margin: 4px;
  height: 24px;
  width: 70px;
}
