.share-new {
  height: 30px;
  width: 100%;
}

.share-new-email {
  width: 426px;
  font-size: 16px;
  height: 16px;
  padding: 2px;
}

.share-new-add {
  width: 50px;
  font-size: 16px;
}

.share-list {
  width: 100%;
}

.share-list th {
  text-align: left;
  border-bottom: 1px solid black;
}

.share-list .delete {
  width: 60px;
  height: 25px;
}

.share-list .write {
  width: 40px;
  text-align: center !important;
}


.ui-autocomplete {
  z-index:10000 !important;
  list-style-type: none;
  list-style-type: none;
  padding: 0;
  margin:  0;
  white-space: nowrap;
  overflow: hidden;
  width:300px !important;
  border: 1px solid #cccccc;
  background-color: white;
  box-shadow: 2px 2px 4px #aaa;
  font-size: 14px;
}

.ui-autocomplete > li {
  padding: 8px 12px;
  cursor: pointer;
}

.ui-autocomplete li:hover {
  background: #3399FF;
}
