<div>
  <div id="browser-search" ng-init="open=false">
    <input
        id="browser-search-input"
        type="text"
        placeholder="Search assets"
        ng-model="browserCtrl.query">
    <img
        id="browser-search-settings"
        src="/img/settings.svg"
        ng-click="open=!open"/>
    <div
        ng-show="open"
        id="browser-search-panel"
        ng-click="open=false">
      <div class="title"> Filter </div>
      <span ng-click="browserCtrl.selectFiltered(-4)"> 
        All Scenes 
      </span>
      <span ng-click="browserCtrl.selectFiltered(-3)"> 
        All Textures 
      </span>
      <span ng-click="browserCtrl.selectFiltered(-2)"> 
        Shared 
      </span>
      <span ng-click="browserCtrl.selectPublic()">
        Public
      </span>
    </div>
  </div>
  <sh-path-asset
      ng-repeat="dir in browserCtrl.path() track by dir.id"
      ng-click="browserCtrl.selectPath(dir)">
    {{dir.name}}
    <img src="/img/arrow.svg" ng-if="!$last"/>
  </sh-path-asset>
</div>