<div>
  <sh-sidebar>
    <!-- Top bar -->
    <div ng-switch on="browserCtrl.private()">
      <div ng-switch-when="true">
        <div class="button" ng-click="browserCtrl.createScene()">
          <span>Create Scene</span>
        </div>
        <sh-create-texture>
          <div class="button">
            <span>Create Texture</span>
          </div>
        </sh-create-texture>
        <div class="button" ng-click="browserCtrl.createDir()">
          <span>Create Folder</span>
        </div>
      </div>
      <div ng-switch-default>
        <div class="button-disabled">
          <span>Create Scene</span>
        </div>
        <div class="button-disabled">
          <span>Create Texture</span>
        </div>
        <div class="button-disabled">
          <span>Create Folder</span>
        </div>
      </div>
    </div>

    <!-- Directory tree. -->
    <script type="text/ng-template" id="directory.html">
      <div ng-repeat="dir in directories | shDirectories" class="directory">
        <div
            ng-init="open=false"
            class="name" >
          <img
              class="down"
              ng-click="open=!open"
              ng-show="open&&dir.hasSubdirs()"
              src="/img/arrow-down.svg" />
          <img
              class="right"
              ng-click="open=!open; browserCtrl.select(dir)"
              ng-show="!open&&dir.hasSubdirs()"
              src="/img/arrow-right.svg" />
          <span
              ng-click="browserCtrl.select(dir, true)">
            {{ dir.name }}
          </span>
        </div>
        <div ng-show="open" style="padding-left: 14px">
            <ng-include
                src="'directory.html'"
                ng-init="directories=dir.children"/>
        </div>
      </div>
    </script>

    <ng-include
        src="'directory.html'"
        ng-init="directories=[browserCtrl.home]"/>
  </sh-sidebar>

  <!-- Main navigator view. -->
  <sh-assets class="assets-browser">
    <div
        ng-repeat="
        asset in browserCtrl.current().children |
        shAssetMatch:browserCtrl.query() |
        shAssetOrder">
      <sh-asset
          asset="asset"
          selected="browserCtrl.selected"
          owner="asset.owner"
          select-asset="browserCtrl.select(asset, enter)"
          ng-class="{selected: browserCtrl.selected==asset}"
          draggable="true">
        <div class="image"
            ng-click="browserCtrl.selected=asset">
          <img
            draggable="false"
            class="assetmenu"
            ng-src="{{asset.image}}">
        </div>
        <div ng-switch on="asset.write">
          <div ng-switch-when="true"
               class="name assetmenu">
            <sh-editable
                ng-click="browserCtrl.selected = null"
                ng-init="name=asset.name"
                default-name="{{browserCtrl.defaultName(asset.type)}}"
                ng-blur="browserCtrl.rename(asset, name)"
                ng-model="name">
            </sh-editable>
          </div>
          <div ng-switch-default
               class="name noneditable assetmenu">
            {{asset.name}}
          </div>
        </div>
      </sh-asset>
    </div>
  </sh-assets>

  <div class='asset-menu'>
    <ul>
      <li ng-click=""
          ng-show="browserCtrl.selected.type != browserCtrl.home.type"
          ng-style="{'cursor': 'pointer'}">
        Download as STL
      </li>
      <sh-share
          ng-show="browserCtrl.selected.type != browserCtrl.home.type"
          asset="browserCtrl.selected"
          ng-style="(browserCtrl.selected.owner)? {'cursor': 'pointer'} : {'color': 'gray', 'cursor': 'default'}">
        <li>
          Share
        </li>
      </sh-share>
      <sh-public
          ng-show="browserCtrl.selected.type != browserCtrl.home.type"
          asset="browserCtrl.selected"
          ng-style="(browserCtrl.selected.owner)? {'cursor': 'pointer'} : {'color': 'gray', 'cursor': 'default'}">
        <li ng-show="browserCtrl.selected.public">
          Make private
        </li>
        <li ng-show="!browserCtrl.selected.public">
          Make public
        </li>
      </sh-public>
      <sh-delete
          asset="browserCtrl.selected"
          ng-style="(browserCtrl.selected.owner)? {'cursor': 'pointer'} : {'color': 'gray', 'cursor': 'default'}">
        <li>
          Delete
        </li>
      </sh-delete>
    </ul>
  </div>
</div>
