<div>
  <div id="browser-search" ng-init="open=false">
    <input
        id="browser-search-input"
        type="text"
        placeholder="{{(browserCtrl.private()) ? 'Search assets' : 'Search ' + browserCtrl.current().name}}"
        ng-model="browserCtrl.query">
    <img
        id="browser-search-settings"
        src="/img/settings.svg"
        ng-click="open=!open"/>
    <div
        ng-show="open"
        id="browser-search-panel"
        ng-click="open=false">
      <div class="title"> Filter </div>
      <span ng-click="browserCtrl.selectScenes()"> 
        All Scenes 
      </span>
      <span ng-click="browserCtrl.selectTextures()"> 
        All Textures 
      </span>
      <span ng-click="browserCtrl.selectShared()"> 
        Shared 
      </span>
      <span ng-click="browserCtrl.selectPublic()">
        Public
      </span>
    </div>
  </div>
  <sh-path
      ng-repeat="dir in browserCtrl.path() track by dir.id"
      ng-click="browserCtrl.selectPath(dir)">
    <sh-path-asset
        dir="dir">
      {{dir.name}}
      <img src="/img/arrow.svg" ng-if="!$last"/>
    </sh-path-asset>
  </sh-path>
</div>