<div>
  <sh-sidebar>
    <!-- Top bar -->
    <div class="create" ng-init="show=false">
      <button
          class="left"
          ng-click="browserCtrl.createScene()">
        NEW SCENE
      </button>
      <button
          class="right"
          ng-click="show=!show">
        <img src="/img/arrow-right.svg"/>
      </button>
      <ul class="menu" ng-show="show">
        <li
            ng-click="show=false;browserCtrl.createScene();">
          Scene
        </li>
        <li
            ng-click="show=false;browserCtrl.createDir();">
          Folder
        </li>
        <li
            ng-click="show=false;browserCtrl.createTexture();">
          Image
        </li>
      </ul>
    </div>

    <!-- Directory tree. -->
    <script type="text/ng-template" id="directory.html">
      <div ng-repeat="dir in directories | shDirectories" class="directory">
        <div
            ng-init="open=false"
            class="name" >
          <img
              class="down"
              ng-click="open=!open"
              ng-show="open&&dir.hasSubdirs()"
              src="/img/arrow-down.svg" />
          <img
              class="right"
              ng-click="open=!open; browserCtrl.select(dir)"
              ng-show="!open&&dir.hasSubdirs()"
              src="/img/arrow-right.svg" />
          <span
              ng-click="browserCtrl.select(dir)">
            {{ dir.name }}
          </span>
        </div>
        <div ng-show="open" style="padding-left: 14px">
          <sh-sidebar-folders>
            <ng-include
                src="'directory.html'"
                ng-init="directories=dir.children"/>
          </sh-sidebar-folders>
        </div>
      </div>
    </script>

    <sh-sidebar-folders>
      <ng-include
          src="'directory.html'"
          ng-init="directories=[browserCtrl.home]"/>
    </sh-sidebar-folders>
  </sh-sidebar>

  <!-- Main navigator view. -->
  <sh-files>
    <div ng-repeat="
        asset in browserCtrl.current().children |
        shFileMatch:browserCtrl.query() |
        orderBy:'+name'">
      <sh-file>
        <div ng-click="browserCtrl.select(asset)">
          <img ng-src="{{asset.image}}">
        </div>
        <sh-editable
            ng-init="name=asset.name"
            class="name"
            ng-blur="asset.rename(name)"
            ng-model="name">
        </sh-editable>
      </sh-file>
    </div>
  </sh-files>
</div>
