<div>
  <sh-sidebar>
    <div class="create" ng-init="show=false">
      <button
          class="left"
          ng-click="browserCtrl.createScene()">
        NEW SCENE
      </button>
      <button
          class="right"
          ng-click="show=!show">
        <img src="/img/arrow-right.svg"/>
      </button>
      <ul class="menu" ng-show="show">
        <li
            ng-click="show=false;browserCtrl.createScene();">
          Scene
        </li>
        <li
            ng-click="show=false;browserCtrl.createDir();">
          Folder
        </li>
        <li
            ng-click="show=false;browserCtrl.createImage();">
          Image
        </li>
      </ul>
    </div>
    <script type="text/ng-template" id="directory.html">
      <div ng-repeat="dir in directories track by dir.id" class="directory">
        <span
            ng-init="open=false"
            ng-class="{open: open}"
            class="name" >
          <img
              class="down"
              ng-click="open=!open"
              ng-show="open"
              src="/img/arrow-down.svg" />
          <img
              class="right"
              ng-click="open=!open; browserCtrl.subdirs(dir)"
              ng-show="!open"
              src="/img/arrow-right.svg" />
          <span ng-click="browserCtrl.enterFromTree(dir)"> {{ dir.name }} </span>
        </span>
        <div ng-show="open">
          <sh-sidebar-folders>
            <ng-include
                src="'directory.html'"
                ng-init="directories=dir.subdirs"/>
          </sh-sidebar-folders>
        </div>
      </div>
    </script>

    <sh-sidebar-folders>
      <ng-include
          src="'directory.html'"
          ng-init="directories=[browserCtrl.home]"/>
    </sh-sidebar-folders>

    <sh-sidebar-all>
      <div><h1> All your scenes </h1> </div>
      <div><h1> All your textures </h1></div>
      <div
        ng-style="(browserCtrl.public) ? {'background-color':'red'} : null"
        ng-click="browserCtrl.publicEnter()">
        <h1> All public files </h1>
      </div>
    </sh-sidebar-all>
  </sh-sidebar>
  <sh-files>
    <div ng-repeat="asset in browserCtrl.assets | shFileMatch:browserCtrl.query track by asset.id ">
      <sh-file>
        <div ng-click="browserCtrl.assetEnter(asset)">
          <img ng-src="{{asset.image}}">
        </div>
        <sh-editable
            class="name"
            ng-model="asset.name">
        </sh-editable>
      </sh-file>
    </div>
  </sh-files>
</div>
