<div id="editor">
  <canvas id="canvas" sh-canvas></canvas>
  <div id="chatbox">
    <div class="message-entry" sh-chatbox>
      <input
        type="text"
        id="message-entry-box"
        ng-model="editorCtrl.message"
        ng-keyup="$event.keyCode == 13 ? editorCtrl.sendMessage() : null">
    </div>
    <div class="messages">
      <!-- Message group 1
      <div class="message-group">
        <p class="message-name">David Avedissian</p>
        <p class="message-text">
          Hello<br />
          Testing the chat<br />
        </p>
      </div> -->
      <!-- Message group 2
      <div class="message-group" style="margin-left: 30%" >
        <p class="message-name">Michal Sienkiewicz</p>
        <p class="message-text" style="background-color: rgb(252, 249, 243); box-shadow: 1px 2px 3px #dddddd">
          Hello<br />
          I received your message<br />
        </p>
      </div> -->
      <div class="message-group" ng-repeat="messageGroup in editorCtrl.messageList">
        <p class="message-name">{{messageGroup.user.name}}</p>
        <p class="message-text">
          <span ng-repeat="message in messageGroup.messages">
            {{message}}<br />
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
