<sh-menu>
  <div id="toolbar-left">
    <!-- Static display of scene name. -->
    <div class="toolbar-scene-name">
      <sh-editable
          id="editor-title"
          default-name="Untitled Scene"
          ng-model="editorCtrl.scene.name">
      </sh-editable>
    </div>
    <div class="header-divider"></div>

    <!-- Toggles between layouts. -->
    <div class="toolbar-button">
      <span>View</span>
      <ul>
        <li ng-click="editorCtrl.layout('single'); close()">Single</li>
        <li ng-click="editorCtrl.layout('double'); close()">Double</li>
        <li ng-click="editorCtrl.layout('quad'); close()">Quad</li>
        <li ng-click="editorCtrl.toggleUV(); close()">
          UV Unwrap
          <span class="hint">U</span>
        </li>
      </ul>
    </div>

    <!-- Menu for adding objects. -->
    <div class="toolbar-button">
      <span>Add</span>
      <ul>
        <li ng-click="editorCtrl.addObject('cube'); close()">Cube</li>
        <li ng-click="editorCtrl.addObject('sphere'); close()">Sphere</li>
      </ul>
    </div>

    <!-- Menu for rig selection. -->
    <div class="toolbar-button">
      <span>Rig</span>
      <ul>
        <li ng-click="editorCtrl.rig('translate'); close()">
          Translate
          <span class="hint">T</span>
        </li>
        <li ng-click="editorCtrl.rig('rotate'); close()">
          Rotate
          <span class="hint">R</span>
        </li>
        <li ng-click="editorCtrl.rig('scale'); close()">
          Scale
          <span class="hint">S</span>
        </li>
      </ul>
    </div>

    <!-- Menu for mesh operations -->
    <div class="toolbar-button">
      <span>Modify</span>
      <ul>
        <li ng-click="editorCtrl.doDelete(); close()">
          Delete
          <span class="hint">D</span>
        </li>
        <li ng-click="editorCtrl.rig('cut'); close()">
          Cut
          <span class="hint">C</span>
        </li>
        <li ng-click="editorCtrl.rig('extrude'); close()">
          Extrude
          <span class="hint">E</span>
        </li>
        <li ng-click="editorCtrl.doMerge(); close()">
          Merge
          <span class="hint">M</span>
        </li>
        <li ng-click="editorCtrl.doConnect(); close()">
          Connect
          <span class="hint">F</span>
        </li>
      </ul>
    </div>

    <!-- Texture selection. -->
    <div class="toolbar-button">
      <span>Texture</span>
      <div class="content">
        <input
            class="texture-select"
            type="text"
            ng-model="editorCtrl.textureName" />
        <div
            class="texture-preview"
            ng-click="editorCtrl.applyTexture(texture.id); close()"
            ng-repeat="texture in editorCtrl.textures">
          <img ng-show="texture.image" ng-src="{{texture.image}}"/>
        <span>{{texture.name}}</span>
        </div>
      </div>
    </div>

    <div class="header-divider"></div>

    <!-- Menu for selection modes. -->
    <div class="toolbar-button"
        ng-click="editorCtrl.mode.toggleObject()"
        ng-class="{select: editorCtrl.mode.object}">
      <span>Object</span>
    </div>
    <div class="toolbar-button"
        ng-click="editorCtrl.mode.toggleFace()"
        ng-class="{select: editorCtrl.mode.face}">
      <span>Face</span>
    </div>
    <div class="toolbar-button"
        ng-click="editorCtrl.mode.toggleEdge()"
        ng-class="{select: editorCtrl.mode.edge}">
      <span>Edge</span>
    </div>
    <div class="toolbar-button"
        ng-click="editorCtrl.mode.toggleVertex()"
        ng-class="{select: editorCtrl.mode.vertex}">
      <span>Vertex</span>
    </div>
    <div class="toolbar-button"
        ng-click="editorCtrl.mode.togglePaint()"
        ng-class="{select: editorCtrl.mode.paint}">
      <span>Paint</span>
    </div>

    <!-- Start of conditional buttons -->
    <div class="header-divider"></div>

    <!-- Menu for paint colour picking. -->
    <div ng-show="editorCtrl.mode.paint" class="toolbar-button">
      <span>Brush</span>
      <div class="content">
        <span>Brush Size</span>
        <sh-slider></sh-slider>
        <span>Brush Colour</span>
        <sh-colour-picker></sh-colour-picker>
      </div>
    </div>
  </div>
  <div id="toolbar-right">
    <!-- Displays the number of users & shows a list. -->
    <div class="toolbar-button" id="editor-user-counter">
      <span>{{ editorCtrl.users.length }}</span>
      <ul>
        <li ng-repeat="user in editorCtrl.users"
            style="background-color: rgba(
                   {{floor(user.colour[0]*255)}},
                   {{floor(user.colour[1]*255)}},
                   {{floor(user.colour[2]*255)}},
                   1.0)">
          {{ user.name }}
        </li>
      </ul>
    </div>

    <!-- Chat button -->
    <div class="toolbar-button" ng-click="editorCtrl.toggleChatbox(); close()">
      <span ng-if="editorCtrl.getUnreadMessages() > 0">Chat ({{editorCtrl.getUnreadMessages()}})</span>
      <span ng-if="editorCtrl.getUnreadMessages() == 0">Chat</span>
    </div>
  </div>
</sh-menu>