<sh-menu>
  <!-- Displays the number of users & shows a list. -->
  <div id="editor-user-counter">
    <span>{{ editorCtrl.users.length }}</span>
    <ul>
      <li ng-repeat="user in editorCtrl.users">
        {{ user.name }}
      </li>
    </ul>
  </div>

  <!-- Static display of scene name -->
  <div>
    <sh-editable
        id="editor-title"
        ng-model="editorCtrl.scene.name">
    </sh-editable>
  </div>

  <!-- Toggles between layouts -->
  <div>
    <span>View</span>
    <ul>
      <li ng-click="editorCtrl.layout('single')">Single</li>
      <li ng-click="editorCtrl.layout('double')">Double</li>
      <li ng-click="editorCtrl.layout('quad')">Quad</li>
    </ul>
  </div>

  <!-- Menu for adding objects -->
  <div>
    <span> Add </span>
    <ul>
      <li ng-click="editorCtrl.addObject('cube')">Cube</li>
      <li ng-click="editorCtrl.addObject('sphere')">Sphere</li>
    </ul>
  </div>

  <!-- Menu for selection modes -->
  <div
      ng-click="editorCtrl.mode.toggleObject()"
      ng-class="{select: editorCtrl.mode.object}">
    Object
  </div>
  <div
      ng-click="editorCtrl.mode.toggleFace()"
      ng-class="{select: editorCtrl.mode.face}">
    Face
  </div>
  <div
      ng-click="editorCtrl.mode.toggleEdge()"
      ng-class="{select: editorCtrl.mode.edge}">
    Edge
  </div>
  <div
      ng-click="editorCtrl.mode.toggleVertex()"
      ng-class="{select: editorCtrl.mode.vertex}">
    Vertex
  </div>

</sh-menu>