<div>
  <!-- Main navigator view. -->
  <sh-assets class="assets-public">
    <div
        ng-repeat="
        asset in browserCtrl.current().children |
        shAssetMatch:browserCtrl.query() |
        shAssetOrder">
      <sh-asset
          asset="asset"
          selected="browserCtrl.selected"
          owner="asset.owner"
          select-asset="browserCtrl.select(asset, enter)"
          ng-class="{selected: browserCtrl.selected==asset}"
          draggable="false">
        <div class="image"
            ng-click="browserCtrl.selected=asset">
          <img
            title="Owned by: {{asset.email}}"
            draggable="false"
            class="assetmenu"
            ng-src="{{asset.image}}">
        </div>
        <div>
          <div class="name noneditable assetmenu">
            {{asset.name}}
          </div>
        </div>
      </sh-asset>
    </div>
  </sh-assets>

  <div class='asset-menu'>
    <ul>
      <li ng-click=""
          ng-show="browserCtrl.selected.type == browserCtrl.sceneType()"
          ng-style="{'cursor': 'pointer'}">
        <a
            href="/api/assets/scene?id={{browserCtrl.selected.id}}&amp;format=stl"
            target="_blank">
          Download as STL
        </a>
      </li>
      <li ng-show="browserCtrl.selected.type == browserCtrl.sceneType()"
          ng-style="{'cursor': 'pointer'}">
        <a
            href="/api/assets/scene?id={{browserCtrl.selected.id}}&amp;format=obj"
            target="_blank">
          Download as Obj
        </a>
      </li>
      <li ng-show="browserCtrl.selected.type == browserCtrl.textureType()"
          ng-style="{'cursor': 'pointer'}">
        <a
            href="/api/assets/texture?id={{browserCtrl.selected.id}}&amp;format=png"
            target="_blank">
          Download as PNG
        </a>
      </li>
      <li ng-show="browserCtrl.selected.type == browserCtrl.textureType()"
          ng-style="{'cursor': 'pointer'}">
        <a
            href="/api/assets/texture?id={{browserCtrl.selected.id}}&amp;format=jpeg"
            target="_blank">
          Download as JPEG
        </a>
      </li>
    </ul>
  </div>
</div>
